cluster.name: my-application

node.name: node-1


# Path to directory where to store the data (separate multiple locations by comma):

path.data: /var/lib/elasticsearch

# Path to log files:

path.logs: /var/log/elasticsearch

# Lock the memory on startup:

bootstrap.memory_lock: false

network.host: ["0.0.0.0"] 

http.port: 9200


discovery.type: single-node


discovery.seed_hosts:
{% for node in nodes %}
  - {{node.host}}
{% endfor %}

cluster.initial_master_nodes:
{% for node in nodes %}
  - {{node.name}}
{% endfor %}
